<template>
  <div class="paypal__button-list">
    <div class="paypal__button__often">
      <h3> R$ 30,00 p/ mês </h3>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="9F77892PADSKU">
        <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

    <div class="paypal__button__often">
      <h3> R$ 45,00 p/ mês </h3>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="Y6XKMD7QUCBGG">
        <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

    <div class="paypal__button__often">
      <h3> R$ 60,00 p/ mês </h3>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="X6YHWNXDQR764">
        <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
</template>

<style lang="scss">
.paypal__button-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;

  margin: 0 10rem;

  color: $primary-color;
}

.paypal__button__often {
  @include center(column);
}
</style> 
