<template>
  <div class="monthly">
    <h2 class="monthly__title">
      Doação Mensal
    </h2>

    <progress-bar
      achieved="701,06"
      goal="6.000,00"
    />

    <p class="monthly__call">
      Seja um doador/doadora sem fronteiras! Com a sua doação poderemos
      atingir nossas metas financeiras:
    </p>

    <monthly-goals
      v-for="(monthlyGoal, index) of monthlyGoals"
      :key="`monthly_goal_${index}`"
      :title="monthlyGoal.title"
      :goals="monthlyGoal.goals"
    />
  </div>
</template>

<script>
import ProgressBar from '@/components/Donation/ProgressBar.vue';
import MonthlyGoals from '@/components/Donation/MonthlyGoals.vue';

export default {
  components: {
    ProgressBar,
    MonthlyGoals,
  },

  data() {
    return {
      monthlyGoals: [
        {
          title: 'Meta 1 - Gastos Administrativos: R$ 450',
          goals: [
            `Serviços de contabilidade`,
            `Aluguel de espaço para reuniões gerais `,
          ]
        },

        {
          title: `Meta 2 - Projetos: R$ 2.500`,
          goals: [
            `Materiais e ferramentas para a execução de projetos`,
            `Transporte para voluntários que necessitem de subsídio
            para participar das atividades`,
          ],
        },

        {
          title: `Meta 3 - Gestão: R$ 6.000`,
          goals: [
            `Desenvolvimento do núcleo, contratação de pessoal para
            gestão de projetos da organização`,
          ],
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.monthly {
  margin: 1rem 10rem;
}

.monthly__title {
  color: $primary-color;
  font-size: 2rem;
}

.monthly__call {
  font-size: 1.2rem;
}
</style>
