<template>
  <div class="monthly-goals">
    <div class="monthly-goals__title">
      {{ title }}
    </div>

    <ul class="monthly-goals__list">
      <li
        v-for="(goal, index) of goals"
        :key="`goal_${index}`"
        class="monthly-goals__list-item"
      >
        <fas icon="angle-right" />
        {{ goal }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
        required: true,
    },
      goals: {
        type: Array,
          required: true,
      },
  }
};
</script>

<style lang="scss">
.monthly-goals__title {
  color: $primary-color;
  font-size: 1.2rem;
}

.monthly-goals__list {
  list-style: none;

  padding: 0;
}

.monthly-goals__list-item {
  margin: 1rem 2rem;

  font-size: 1.1rem;
}
</style>
