<template>
  <div class="polen">
    <h2 class="polen__title">
      Doe com o Polén
    </h2>
    <div class="polen__content">
      <youtube :video-id="videoId" />
      <div class="polen__text">
        <p class="polen__paragraph">
          Faça suas doações com <strong>O Polen</strong>!
        </p>

        <p class="polen__paragraph">
          Sempre que você realiza uma compra online, pode utilizar O Polen para
          converter em uma comissão de venda que é transformada em doação para
          a nossa ONG. Você não paga nada a mais e quem faz a doação é a própria loja.
        </p>

        <p class="polen__paragraph">
          É muito simples, basta baixar a extensão ao clicar no botão abaixo e
          seguir as instruções.
        </p>

        <p class="polen__paragraph">
           <a href="http://opolen.com.br/esfusp">Doe com O Polen</a>  
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { getIdFromURL } from 'vue-youtube-embed';

export default {
  computed: {
    videoId() {
      return getIdFromURL('https://www.youtube.com/watch?v=vIVWnHhbihI');
    },
  },
};
</script>

<style lang="scss">
.polen {
  margin: 2rem 10rem;
}

.polen__title {
  color: $primary-color;
  font-size: 2rem;
}

.polen__content {
  display: flex;
}

.polen__text {
  margin: 1rem 0 1rem 5rem;

  text-align: justify;
}
</style>
