<template>
  <div class="programs">
    <h2 class="programs__title">
      Invista em um programa
    </h2>

    <ul class="programs__list">
      <program
        v-for="(program, index) of programList"
        :key="`program_${index}`"
        :title="program.title"
        :text="program.text"
      />
    </ul>

    <form 
      action="https://www.paypal.com/cgi-bin/webscr"
      method="post"
      target="_top"
      class="paypal__form"
    >
      <input 
        type="hidden"
        name="cmd"
        value="_s-xclick"
      />
      <input 
        type="hidden"
        name="hosted_button_id"
        value="MMQFVTB8D5FXS"
      />
      <input 
        class="paypal__button--big"
        type="image"
        src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif"
        border="0"
        name="submit"
        title="PayPal - The safer, easier way to pay online!"
        alt="Donate with PayPal button"
      />
      <img 
        alt=""
        border="0"
        src="https://www.paypal.com/pt_BR/i/scr/pixel.gif"
        width="1"
        height="1"
      />
    </form>
  </div>
</template>

<script>
import Program from '@/components/Donation/Program';

export default {
  components: {
    Program
  },

  data() {
    return {
      programList: [
        {
          title: "Cisternas nas Escolas",
          text: `Fomente o interesse de alunos de escolas públicas 
          pelas ciências naturais e exatas`,
        },
        {
          title: "Permacultura no Movimento",
          text: `Contribua com o equilíbrio dos ciclos de produção-consumo-descarte`,
        },
        {
          title: "Projetando Sonhos",
          text: `Promova a salubridade e a segurança de espaços e das
           pessoas que eles abrigam`,
        },
      ],
    }
  },
}
</script>


<style lang="scss">
.programs {
  background: $medium-color;
}

.programs__title {
  padding: 1rem 10rem;

  color: $primary-color;
  font-size: 2rem;
}

.programs__list {
  list-style: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  margin: 1rem 10rem;
  padding: 0;
}

.paypal__form {
  @include center(row);

  padding: 0.5rem 0 1rem 0;
}

.paypal__button--big {
  width: 7rem;
}
</style>
