<template>
  <li class="program">
    <h3 class="program__title">
      {{ title }}
    </h3>
    <p class="program__text">
      {{ text }}
    </p>
  </li>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.program {
  @include center(column);

  border-radius: 0.5rem;
  box-shadow: $box-shadow;

  margin: 0 0.5rem;
  background: $light-color;

  width: 25rem;
}

.program__title {
  color: $primary-color;

  font-size: 1.3rem;
  font-weight: bold;
}

.program__text {
  text-align: center;
}
</style>
