<template>
  <div class="progress-bar">
    <div class="progress-bar__achieved" :style="achievedWidth"/>
      <div class="progress-bar__text">
        R$ {{ achieved }} p/ mês de R$ {{ goal }} p/ mês
      </div>
  </div>
</template>

<script>
export default {
  props: {
    goal: {
      type: String,
      required: true,
    },
    achieved: {
      type: String,
      required: true,
    },
  },

  computed: {
    achievedWidth() {
      const goalNumber = this.goal.replace(/\./g, "").replace(/,/g, ".");
      const achievedNumber = this.achieved.replace(/\./g, "").replace(/,/g, ".");

      const percentage = (achievedNumber / goalNumber) * 100;

      return {
        width: `${percentage}%`,
      }
    }
  },
}
</script>

<style lang="scss">
$border-radius: 1rem;

.progress-bar {
  display: grid;
  grid-template-areas: "content";

  margin: 1rem 0;
  border-radius: $border-radius;

  background: $secondary-color;

  font-weight: 650;
  text-align: center;
}

.progress-bar__text {
  grid-area: content;

  margin: 0.75rem;
  color: $dark-font-color;

  z-index: 2;
}

.progress-bar__achieved {
  grid-area: content;

  border-radius: $border-radius;

  background: $primary-color-alt;

  z-index: 1;
}
</style>
