<template>
  <div
    class="project-card"
    @click="handleClick">
    <div class="project-card__image">
      <img :src="imageURL" >
    </div>
    <div class="project-card__name">
      {{ name }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
  },

  computed: {
    imageURL() {
      return require(`@/assets/images/projects/${this.image}`);
    },
  },

  methods: {
    handleClick() {
      this.$router.history.push(`/projetos/${this.id}`);
    },
  },
};
</script>

<style lang="scss">
$card-width: 25rem;

.project-card {
  @include clickable;

  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;

  background: $light-color;
  color: $primary-color;
  box-shadow: $box-shadow;

  font-size: 1.3rem;

  width: $card-width;

}

.project-card__image > img {
  height: 250px;
  width: $card-width;

  border-radius: 0.5rem;
}

.project-card__name {
  margin: 1rem;
}
</style>
