<template>
  <div class="project-list">
    <project-card
      v-for="(project, index) of projectList"
      :key="`project_${index}`"
      :id="index"
      :image="project.image"
      :name="project.name"
      :description="project.description"
      class="project-list__card"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ProjectCard from '@/components/Projects/ProjectCard.vue';

export default {
  components: {
    ProjectCard,
  },

  computed: {
    ...mapGetters({
      projectList: 'projects/projectList',
    }),
  },
};
</script>

<style lang="scss">
.project-list {
  display: flex;
  flex-flow: row wrap;

  padding: 1rem;

  background: $medium-color;
}
</style>
