<template>
  <div class="member">
    <div
      :style="backgroundImage"
      class="member__photo"
    />
    <div class="member__text member__text--name">
      {{ name }}
    </div>
    <div class="member__text member__text--program">
      {{ program }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    program: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
  },

  computed: {
    backgroundImage() {
      const path = require(`@/assets/images/members/${this.image}`);

      return {
        backgroundImage: `url(${path})`,
      };
    },
  },
};
</script>

<style lang="scss">
.member {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.25rem;

  background: $light-color;
  box-shadow: $box-shadow;
}

.member__photo {
  border-radius: 0.5rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 20vh;
  width: 15vw;
}

.member__text {
  margin-top: 0.5rem;

  color: $dark-font-color;
  text-align: center;
}
</style>
