<template>
  <div class="team-list">
    <member
      v-for="(member, index) of memberList"
      :key="`member_${index}`"
      :name="member.name"
      :program="member.program"
      :image="member.image"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Member from '@/components/Team/Member.vue';

export default {
  components: {
    Member,
  },

  computed: {
    ...mapGetters({
      memberList: 'members/memberList',
    }),
  },
};
</script>

<style lang="scss">
.team-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;

  background: $medium-color;

  padding: 1rem 10rem;
}
</style>
