<template>
  <div class="donation">
    <Banner
      title="Apoie-nos"
      subtitle="Há diversas formas de ajudar"
      description="Sua colaboração é fundamental para a continuidade dos
        nossos projetos!
      "
      background-image="donation.png"
    />

    <h2 class="donation__call-title">
      Apoie-nos
    </h2>

    <p class="donation__call">
      Sua colaboração é essencial para a continuidade dos nossos projetos!
      As doações formam uma parte fundamental de nossa renda, nos ajudando a
      melhorar a qualidade de vida e bem estar de comunidades e indivíduos
      através da utilização de ferramentas da engenharia que promovam o
      desenvolvimento sustentável e a igualdade social. Sua contribuição não
      apenas apoiará diretamente nossa comunidade atual e nossas iniciativas,
      mas também nos ajudará a ampliar nossos esforços para alcançar mais e
      ter maior impacto.
    </p>

    <p class="donation__call">
      Você pode nos ajudar com um financiamento consistente durante todo o ano,
      configurando uma doação mensal ou investindo diretamente em um de nossos
      programas.
    </p>

    <monthly />
    <button-list />
    <programsList />
    <direct-donation />
    <polen />

  </div>
</template>

<script>
import Banner from '@/components/Banner.vue';
import Monthly from '@/components/Donation/Monthly.vue';
import ButtonList from '@/components/Donation/ButtonList.vue';
import ProgramsList from '@/components/Donation/ProgramsList.vue';
import DirectDonation from '@/components/Donation/DirectDonation.vue';
import Polen from '@/components/Donation/Polen.vue';

export default {
  components: {
    Banner,
    Monthly,
    ButtonList,
    ProgramsList,
    DirectDonation,
    Polen,
  },

  beforeMount() {
    window.scrollTo(0, 0);
  },
};
</script>

<style lang="scss">
.donation {
  font-weight: $font-weight;
}

.donation__call-title {
  margin: 2rem 10rem;

  color: $primary-color;
  font-size: 2rem;
}

.donation__call {
  margin: 2rem 10rem;

  text-align: justify;
  font-size: 1.1rem;
}
</style>
