<template>
  <div class="home">
    <Banner
      title="Engenheiros Sem Fronteiras"
      subtitle="Núcleo São Paulo"
      description="Promovendo o desenvolvimento humano e sustentável através da engenharia"
      background-image="home.png"
    />
    <Info />
    <Actions />
    <Counters />
    <Subscribe />
  </div>
</template>

<script>
import Banner from '@/components/Banner.vue';
import Info from '@/components/Home/Info.vue';
import Actions from '@/components/Home/Actions.vue';
import Counters from '@/components/Home/Counters.vue';
import Subscribe from '@/components/Home/Subscribe.vue';

export default {
  components: {
    Banner,
    Info,
    Actions,
    Counters,
    Subscribe,
  },

  beforeMount() {
    window.scrollTo(0, 0);
  },
};
</script>
