<template>
  <div class="project">
    <Banner
      :title="name"
      :subtitle="status"
      :description="period"
      :background-image="image"
      :is-project="true"
    />

    <div class="project__content" >
      <graphical-info-list
        :volunteers="volunteers"
        :benefited="benefited"
        :map-link="mapLink"
        :video-link="videoLink"
      />

      <coordinator-list
        :coordinator-list="coordinatorsList"
      />

      <description-list
        :program="program"
        :description="description"
        :theme="theme"
        :complexit="complexit"
        :ods="ODS"
        :objGeneral="objGeneral"
        :objSpecefic="objSpecefic"
        :subject="subject"
        :budget="budget"
        :resources="resources"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import Banner from '@/components/Banner.vue';
import GraphicalInfoList from '@/components/projectInfo/GraphicalInfoList.vue';
import DescriptionList from '@/components/projectInfo/DescriptionList.vue';
import CoordinatorList from '@/components/projectInfo/CoordinatorList.vue';

export default {
  components: {
    Banner,
    GraphicalInfoList,
    DescriptionList,
    CoordinatorList,
  },

  data() {
    return {
      name: ``,
      image: ``,
      program: ``,
      description: ``,
      theme: ``,
      complexit: ``,
      ODS: [],
      objGeneral: ``,
      objSpecefic: [],
      status: ``,
      begin: ``,
      end: ``,
      subject: ``,
      budget: ``,
      resources: ``,
      volunteers: `0`,
      benefited: `0`,
      mapLink: ``,
      videoLink: ``,
      coordinatorsList: [],
    };
  },

  computed: {
    ...mapGetters({
      selectedProject: 'projects/selectedProject',
    }),

    period() {
      const period = `Iniciou em ${this.begin}`;

      if (this.status === 'Finalizado') { return `${period} e terminou em ${this.end}`; }

      return period;
    },
  },

  beforeMount() {
    this.selectProject(this.$route.params.id);

    for (const key in this.selectedProject) { this[key] = this.selectedProject[key]; }

    window.scrollTo(0, 0);
  },

  methods: {
    ...mapActions({
      selectProject: 'projects/selectProject',
    }),
  },
};
</script>

<style lang="scss">
</style>
