<template>
  <div class="volunteer">
    <Banner
      title="Junte-se a nós"
      subtitle="Proponha um projeto para nossa equipe"
      description="Registre sua proposta e entraremos em contato assim que possível"
      background-image="request.png"
    />
    <iframe
      class="volunteer__form"
      src="https://docs.google.com/forms/d/e/1FAIpQLSeJ77N2px2f8gn6fUD7EKFCbArBiX6JyzNmGiCk-JfSqH1ISw/viewform?embedded=true"
      width="1800"
      height="1000"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
    >
      Carregando…
    </iframe>
  </div>
</template>

<script>
import Banner from '@/components/Banner.vue';

export default {
  components: {
    Banner,
  },

  beforeMount() {
    window.scrollTo(0, 0);
  },
};
</script>

<style lang="scss">
.volunteer__form {
  margin: 1rem 0;
  width: 100%;
}
</style>
