<template>
  <div class="team">
    <Banner
      title="Nosso time"
      subtitle="Conheça as pessoas que trabalham conosco"
      description="Essas pessoas doam seu tempo e sua expertise para colaborar com nossos projetos"
      background-image="team.png"
    />
    <team-list />
  </div>
</template>

<script>
import Banner from '@/components/Banner.vue';
import TeamList from '@/components/Team/TeamList.vue';

export default {
  components: {
    Banner,
    TeamList,
  },

  beforeMount() {
    window.scrollTo(0, 0);
  },
};
</script>

<style lang="scss">
</style>
