<template>
  <div class="volunteer">
    <Banner
      title="Faça parte"
      subtitle="Seja você também um voluntário"
      description="Contribua para o desenvolvimento humano e sustentável junto conosco!"
      background-image="volunteer.png"
    />
    <iframe
      class="volunteer__form"
      src="https://docs.google.com/forms/d/e/1FAIpQLSd8t_e9kcdnawEeTkqCHVIUXZ6fLigxgo4ZTMdok5VzouaCdA/viewform?embedded=true"
      width="1800"
      height="1000"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
    >
      Carregando…
    </iframe>
  </div>
</template>

<script>
import Banner from '@/components/Banner.vue';

export default {
  components: {
    Banner,
  },

  beforeMount() {
    window.scrollTo(0, 0);
  },
};
</script>

<style lang="scss">
.volunteer__form {
  margin: 1rem 0;
  width: 100%;
}
</style>
