<template>
  <div class="action">
    <div
      v-for="(action, index) of actionList"
      :key="index"
      :class="`action__section action__section--${action.position}`"
    >
      <div class="action__section__title" v-html="action.title"/>
      <div class="action__section__text">
        {{ action.text }}
      </div>
      <router-link
        :class="`
           action__section__button
           action__section__button--${action.position}`"
        :to="action.link"
        tag="button"
      >
        {{ action.call }}
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      actionList: [
        {
          title: `Seja parte <br> <strong> da mudança </stong>`,
          text: `Queremos expandir a engenharia em suas mais diversas formas,
          da maneira mais solidária possível. Ajude-nos nessa jornada!`,
          call: 'Doe',
          position: 'left',
          link: '/doacao',
        },
        {
          title: 'Novo site em construção',
          text: 'Nosso site se encontra em construção para melhor nos conectarmos com a comunidade. Enquanto isso você pode acessar nossas redes sociais!',
          call: 'Ir para instagram',
          position: 'right',
          link: 'https://www.instagram.com/esfsaopaulo/',
        },
      ],
    };
  },
}
</script>

<style lang="postcss">
/*
$margin-between: 0.75rem 0;
*/

.action {
  @apply flex flex-col flex-no-wrap justify-center items-center;
}

.action__section {
  @apply flex flex-col flex-no-wrap justify-center items-center px-2 px-6 text-white;

  height: 70vh;
}

@screen lg {
  .action {
    @apply flex-row;
  }

  .action__section {
    @apply px-24;

    height: 60vh;
    width: 50vw;
  }
}

.action__section--left {
  @apply bg-primary;
}

.action__section--right {
  @apply bg-grey-dark text-grey-darkest;
}

.action__section__title {
  @apply my-3 text-4xl text-center;
}

.action__section__text {
  @apply my-3 text-xl font-light text-center;
}

.action__section__button {
  @apply my-3 px-4 py-2 rounded bg-transparent select-none cursor-pointer font-medium text-xl uppercase;
}

.action__section__button--left {
  @apply border-2 border-white text-white;
}

.action__section__button--right {
  @apply border-2 border-grey-darkest text-grey-darkest;
}

.action__section__button--left:hover {
  @apply bg-white text-grey-darkest;

  transition: all 0.25s ease-out;
}

.action__section__button--right:hover {
  @apply bg-grey-darkest text-white;

  transition: all 0.25s ease-out;
}
</style>
