<template>
  <div class="counters">
    <div class="counters__title">
      Um pouco do <br> <strong> nosso trabalho </strong>
    </div>
    <div
      v-for="(counter, index) in counterList"
      :key="index"
      class="counter__item">
      <div class="counter__item__icon">
        <fas :icon="counter.icon" />
      </div>
      <div class="counter__item__number">
        {{ counter.number }}
      </div>
      <div class="counter__item__text">
        {{ counter.text }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      counterList: [
        {
          icon: 'hammer',
          text: 'Projetos em andamento',
          number: '5',
        },
        {
          icon: 'check',
          text: 'Projetos concluídos desde 2016',
          number: '11',
        },
        {
          icon: 'laugh',
          text: 'Pessoas impactadas',
          number: '1.100',
        },
      ],
    };
  },
}
</script>

<style lang="postcss">

.counters {
  @apply flex flex-col flex-no-wrap justify-between items-center py-4 bg-grey-darkest text-white;
}

.counters__title {
  @apply m-2 text-4xl text-center; 
}

.counter__item {
  @apply mx-2 my-4 h-32 w-64;

  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "icon number"
    "icon text";
  grid-column-gap: 0.75rem;
}

@screen lg {
  .counters {
    @apply p-16 flex-row;
  }

  .counters__title {
    @apply text-left;
  }

  .counter__item {
    @apply mx-2;
  }
}

.counter__item__icon {
  @apply flex flex-no-wrap justify-center items-center;
  @apply rounded-full bg-white text-grey-darkest text-4xl;

  grid-area: icon;
  justify-self: end;
  align-self: center;

  height: 5rem;
  width: 5rem;
}

.counter__item__number {
  @apply text-5xl;
  grid-area: number;
  align-self: end;

}

.counter__item__text {
  @apply text-lg;

  grid-area: text;
}
</style>
