<template>
  <div class="info">
    <div class="info__title">
      Nossa Filosofia
    </div>
    <div class="info__subtitle">
      Trabalhamos pra ver comunidades com liberdades ampliadas através de projetos
      de engenharia e de políticas públicas orientadas ao desenvolvimento sustentável.
      Queremos ser uma referência na formação de pessoas e na transformação do território.
    </div>
    <div class="info__valor-list">
      <div
        v-for="(valor, index) of valorList"
        :key="index"
        class="valor">
        <div class="valor__icon">
          <fas :icon="valor.icon" />
        </div>
        <div class="valor__title">
          {{ valor.title }}
        </div>
        <div class="valor__text">
          {{ valor.text }}
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      valorList: [
        {
          title: 'Cooperação',
          text: `Trabalhar em equipe incentivando a união, a cooperação e a amizade`,
          icon: 'hands-helping',
        },
        {
          title: 'Ativismo',
          text: `Realizar trabalho voluntário com pró-atividade e entusiasmo`,
          icon: 'bullhorn',
        },
        {
          title: 'Diversidade',
          text: `Valorizar as diferenças e o compartilhamento de saberes`,
          icon: 'comments',
        },
        {
          title: 'Autonomia',
          text: `Fomentar a autonomia através de uma atuação com empatia e afeto`,
          icon: 'hand-rock',
        },
      ]
    };
  },
};
</script>

<style lang="postcss">

.info {
  @apply flex flex-col justify-center items-center py-3 bg-grey font-light w-full;
}

.info__title {
  @apply py-4 text-grey-darkest text-4xl font-bold;
}

.info__subtitle {
  @apply m-6 text-grey-darkest text-lg text-center;
}

.info__valor-list {
  @apply flex flex-col flex-no-wrap justify-center items-center;
}

@screen lg {
  .info__subtitle {
    margin-left: 20rem;
    margin-right: 20rem;
  }

  .info__valor-list {
    @apply flex-row;
  }
}

.valor {
  @apply flex flex-col flex-no-wrap justify-center items-center;
  @apply my-4 mx-3 rounded-lg px-8 py-4 bg-white shadow-md;

  width: 15rem;
  height: 15rem;
}

.valor__icon {
  @apply flex flex-no-wrap justify-center items-center text-primary;

  font-size: 4rem;
}

.valor__title {
  @apply my-2 text-primary text-xl font-bold;
}

.valor__text {
  @apply my-2 text-grey-darkest text-center;
}

.info__button {
  @apply my-4 border-2 border-grey-darkest rounded px-4 py-2;
  @apply bg-transparent text-grey-darkest text-lg uppercase;
}

.info__button:hover {
  @apply bg-grey-darkest text-white;

  transition: all 0.25s ease-out;
}
</style>
