

<script>
export default {
  data() {
    return {
      firstName: '',
      lastName: '',
      email: '',
    };
  },
}
</script>

<style lang="postcss">
.subscribe {
  @apply flex flex-col flex-no-wrap justify-center items-center p-6 bg-grey-dark text-grey-darkest;

  height: 50vh;
}

@screen lg {
  .subscribe {
    @apply flex-row justify-between px-20;

    height: 20vh;
  }
}

.subscribe__text {
  @apply flex flex-col flex-no-wrap justify-center items-start text-center;
}

.subscribe__title {
  @apply mb-4 text-3xl font-bold;
}

.subscribe__subtitle {
  @apply mb-4 font-medium;
}

.subscribe__button {
  @apply m-2 mr-0 border-2 border-grey-darkest rounded px-8 py-4;
  @apply bg-grey-dark text-grey-darkest text-2xl select-none cursor-pointer;

  grid-area: button;
  justify-self: start;
}

.subscribe__button:hover {
  @apply bg-grey-darkest text-white;

  transition: all 0.25s ease-out;
}
</style>
