<template>
  <header
    :style="bannerHeight"
    class="banner">
    <div
      :style="backgroundImageURL"
      class="banner__background"/>
    <div class="banner__text" >
      <div class="banner__title">
        {{ title }}
      </div>
      <div class="banner__subtitle">
        {{ subtitle }}
      </div>
      <div class="banner__description">
        {{ description }}
      </div>
    </div>
  </header>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    backgroundImage: {
      type: String,
      required: true,
    },
    isProject: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    backgroundImageURL() {
      const category = this.isProject
        ? 'projects/'
        : 'banner/';

      const path = require(`@/assets/images/${category}${this.backgroundImage}`);


      return {
        backgroundImage: `url(${path})`,
      };
    },

    bannerHeight() {
      const height = this.isProject ? '35rem' : '50rem';

      return {
        'grid-template-rows': height,
      };
    },
  },
};
</script>

<style lang="scss">
.banner {
  display: grid;
  grid-template-areas: "main";

  color: $light-color;
  background: rgba(9, 168, 126, 0.3);

  overflow-y: hidden;
}

.banner__background {
  grid-area: main;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 50rem;
  z-index: -1;
}

.banner__text {
  grid-area: main;

  align-self: center;
  justify-self: left;

  margin: 0 5rem;
}

.banner__title {
  font-size: 3rem;
  font-weight: bold;
}

.banner__subtitle {
  font-size: 2rem;
  font-weight: bold;
}

.banner__description {
  font-size: 1.3rem;
}
</style>
