<template>
  <footer class="footer">
    <div class="footer__brand" >
      <img src="@/assets/logo.png" />
    </div>

      <div class="footer__contacts">
        <div class="footer__contacts-title">
          Contate-nos:
        </div>
        <div class="footer__contacts-list">
          <a
             v-for="(social, index) in socialList"
             :key="`social_${index}`"
             :href="social.link"
             >
             <div class="footer__contact-item ball" >
               <fas fab :icon="social.icon" />
             </div>
          </a>
        </div>
      </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      socialList: [
        {
          icon: ['fab', 'facebook-f'],
          link: 'http://facebook.com/esfsaopaulo',
        },
        {
          icon: ['fab', 'instagram'],
          link: 'https://www.instagram.com/esfsaopaulo/',
        },
        {
          icon: ['fab', 'linkedin-in'],
          link: 'https://www.linkedin.com/company/esfsaopaulo/',
        },
        {
          icon: ['fab', 'youtube'],
          link: 'https://www.youtube.com/channel/UCowQr_q6PoDcqzeC7j_C38g',
        },
      ]
    };
  },
}
</script>

<style lang="scss">
.ball {
  border-radius: 100%;

  background: $light-color;

  height: 4rem;
  width: 4rem;

  box-shadow: $box-shadow;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 0 5rem;

  background: $primary-color;
  color: $light-color;

  height: 8rem;
}

.footer__brand {
  grid-area: icon;
  align-self: center;
  color: $dark-font-color;

  margin: 0.5rem;
}

.footer__brand > img {
  width: 14rem;
  height: 6rem;
}

.footer__contacts {
  display: flex;
  flex-flow: column nowrap;
}

.footer__contacts-title {
  grid-area: contact;
  align-self: end;

  margin-left: 1rem;
  font-size: 1.3rem;
}

.footer__contacts-list {
  grid-area: list;
  align-self: start;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  margin: 0.25rem 0.5rem;;
}

.footer__contact-item {
  @include center(row);

  margin: 0 0.5rem;

  color: $dark-font-color;
  font-size: 2rem;
}

.footer__contact-item:hover {
  background: $dark-font-color;
  color: $light-color;

  transition: all 0.25s ease-out;
}
</style>
