<template>
  <nav class="navbar">
    <div class="navbar__first-sector">
      <router-link
        to="/"
        tag="div"
        class="navbar__title">
        <img src="@/assets/logo.png" v-if="!isMobile"/>
        <span v-else> ESF São Paulo </span>
      </router-link>

      <router-link
        v-if="!isMobile"
        v-for="(item, index) of buttonList"
        :key="`button_${index}`"
        :to="item.to"
        tag="div"
        class="navbar__button"
      >
        {{ item.text }}
      </router-link>
    </div>

      <a href="https://instagram.com/esfsaopaulo"  class="navbar__button" v-if="!isMobile">
        <div>
          Site em construção
        </div>
      </a>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      buttonList: [
        {
          text: 'Doe',
          to: '/doacao',
        },
      ],
    };
  },

  computed: {
    isMobile() {
      return window.matchMedia("(max-width: 1000px)").matches;
    },
  },
};
</script>

<style lang="postcss">
.navbar {
  @apply flex flex-no-wrap justify-between items-center;
  @apply sticky pin-t;
  @apply bg-primary text-white z-50 shadow-md font-bold;

  font-size: 1.2rem;
}

.navbar__title {
  @apply m-4 select-none cursor-pointer;
}

@screen lg {
  .navbar__title > img {
    width: 10rem;
    height: 4rem;
  }
}

.navbar__first-sector {
  @apply flex flex-no-wrap justify-center items-center h-full;
}

.navbar__button {
  @apply flex flex-no-wrap justify-center items-center select-none cursor-pointer h-full;
  @apply text-white no-underline px-4 py-8 rounded;
}

.navbar__button:hover {
  @apply bg-grey-darkest;

  transition: background 0.25s ease-out;
}
</style>
