$primary-color: #1DA879;
$primary-color-alt: rgba(29, 168, 121, 0.7);
$secondary-color: #DCDCDC;

$light-color: #FFFFFF;
$medium-color: #F0EFED;
$dark-color: #000000;

$medium-font-color: #978C7F;
$dark-font-color: #323232;

$font-weight: 325;

$box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
