<template>
  <div class="coordinator">
    <div
      :style="backgroundImage"
      class="coordinator__image" />
    <div class="coordinator__name">
      {{ name }}
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: {
    id: {
      type: Number,
      required: true,
    },
  },

  computed: {
    ...mapGetters({
      memberList: 'members/memberList',
    }),

    backgroundImage() {
      const image = this.memberList[this.id].image;
      const path = require(`@/assets/images/members/${image}`);

      return {
        backgroundImage: `url(${path})`,
      };
    },

    name() {
      return this.memberList[this.id].name;
    },
  },
};
</script>

<style lang="scss">
$image-size: 5vw;

.coordinator {
  @include center(column);

  margin: 0 3rem 0 1rem;
}

.coordinator__image {
  border-radius: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: $image-size;
  width: $image-size;
}

.coordinator__name {
  margin-top: 0.5rem;

  color: $dark-font-color;
  font-size: 1.1rem;
  font-weight: $font-weight;
}
</style>
