<template>
  <div class="description-list">
    <description
      :text="program"
      title="Programa" />

    <description
      :text="description"
      title="Descrição" />

    <description
      :text="theme"
      title="Eixo temático ESF Brasil" />

    <description
      :text="complexit"
      title="Complexidade" />

    <description
      :list="ods"
      title="Objetivos de desenvolvimento sustentável contemplados" />

    <description
      :text="objGeneral"
      title="Objetivo Geral" />

    <description
      :list="objSpecefic"
      title="Objetivos Específicos" />

    <description
      :text="subject"
      title="Sujeito de Ação" />

    <description
      :text="budget"
      title="Orçamento" />

    <description
      :text="resources"
      title="Principal Fonte de Recursos" />
  </div>
</template>

<script>
import Description from '@/components/projectInfo/Description.vue';

export default {
  components: {
    Description,
  },

  props: {
    program: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    theme: {
      type: String,
      required: true,
    },
    complexit: {
      type: String,
      required: true,
    },
    ods: {
      type: Array,
      required: true,
    },
    objGeneral: {
      type: String,
      required: true,
    },
    objSpecefic: {
      type: Array,
      required: true,
    },
    subject: {
      type: String,
      required: true,
    },
    budget: {
      type: String,
      required: true,
    },
    resources: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.description-list {
  margin-left: 10vw;
}
</style>
