<template>
  <div class="description">
    <h2 class="description__title">
      {{ title }}
    </h2>

    <p
      v-if="hasText"
      class="description__text">
      {{ text }}
    </p>

    <ul
      v-if="hasList"
      class="description__list">
      <li
        v-for="(item, index) of list"
        :key="`item_${index}`"
        class="description__list-item"
      >
        <fas
          icon="angle-right"
          class="description__list-item-icon"
        />
        {{ item }}
      </li>
    </ul>

  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      default: '',
    },
    list: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    hasText() {
      return this.text !== '';
    },

    hasList() {
      return this.list.length !== 0;
    },
  },
};
</script>

<style lang="scss">
.description {
  margin: 0 10vw 0 1rem;
  color: $dark-font-color;
}

.description__title {
  color: $primary-color;
  font-weight: 500;
}

.description__text {
  font-weight: $font-weight;
}

.description__list {
  list-style-type: none;
  padding: 0;
}

.description__list-item {
  margin: 1rem;
  font-weight: $font-weight;
}

.description__objective-icon {
  color: $primary-color;
}
</style>
