<template>
  <div class="graphical-info-list">
    <graphical-info
      :macro-text="volunteers"
      icon="users"
      micro-text="voluntários" />

    <graphical-info
      :macro-text="benefited"
      icon="child"
      micro-text="envolvidos" />

    <a
      v-if="hasMap"
      :href="mapLink">
      <graphical-info
        macro-text="Mapa"
        icon="map-marked"
        micro-text="do projeto" />
    </a>

    <a
      v-if="hasVideo"
      :href="videoLink">
      <graphical-info
        :icon="['fab', 'youtube']"
        macro-text="Vídeo"
        micro-text="do projeto" />
    </a>
  </div>
</template>

<script>
import GraphicalInfo from '@/components/projectInfo/GraphicalInfo.vue';

export default {
  components: {
    GraphicalInfo,
  },

  props: {
    volunteers: {
      type: String,
      required: true,
    },

    benefited: {
      type: String,
      required: true,
    },

    mapLink: {
      type: String,
      default: '',
    },

    videoLink: {
      type: String,
      default: '',
    },
  },

  computed: {
    hasMap() {
      return this.mapLink !== '';
    },

    hasVideo() {
      return this.videoLink !== '';
    },
  },
};
</script>

<style lang="scss">
.graphical-info-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.graphical-info-list > a:link {
  text-decoration: none;
}

.graphical-info-list > a:visited {
  text-decoration: none;
}

.graphical-info-list > a:hover {
  text-decoration: none;
}

.graphical-info-list > a:active {
  text-decoration: none;
}
</style>
