<template>
  <div class="grafical-info">
    <div class="grafical-info__icon">
      <fas :icon="icon" />
    </div>
    <div class="grafical-info__macro-text">
      {{ macroText }}
    </div>
    <div class="grafical-info__micro-text">
      {{ microText }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    icon: {
      required: true,
    },
    macroText: {
      type: String,
      required: true,
    },
    microText: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.grafical-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "icon macro"
    "icon micro";

  margin: 1rem;

  color: $primary-color;
  font-size: 3rem;

  width: 13rem;
}

.grafical-info__icon {
  grid-area: icon;
  justify-self: center;
}

.grafical-info__macro-text {
  grid-area: macro;
}

.grafical-info__micro-text {
  grid-area: micro;

  font-size: 1.3rem;
}
</style>
